/* Custom ICTS CSS */

/* Top bar */
.top-bar {
	display: flex;
	background-color: #232323;
	color: #fff;
	font-weight: 600;
	font-size: 12px;
	height: 40px;
	border-bottom: 1px solid #e7e7e7;
	align-items: center !important;
	text-align: justify;
	text-align-last: end;
}

.top-bar ul {
	list-style: none;
	float: right;
	display: flex;
	margin: 0px;
}

.top-bar ul li {
	float: left;
	padding: 0px 17px;
	border-left: 1px solid #e7e7e7;
	position: relative;
	line-height: 38px;
}

.top-bar ul li a {
	color: #e7e7e7;
	text-decoration: none;
}

/* Logo above Navbar */
.logos {
        padding: 10px;
}

.logo-tri {
        background-image: url("/alpha/web/sites/default/files/theme/icts-logo-triangles.png");
        background-repeat: repeat-x;
}

/* Navbar */
.navbar {
        background-color: #b31d0f !important;
        height: 40px;
}

ul[data-block="nav_main"] .nav-link {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        font-family: serif;
}


.nav-link:hover {
	color: #fff;
	background-color: #a10606;
}

/*Breadcrumb path */
.breadcrumb-path {
	font-weight: 600;
	color: #232323;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.fa-chevron-right {
	height: 0.8em;
	padding-left: 10px;
}

.svg-inline--fa {
	padding-right: 10px;
	color: #B31D0F;
}

/* Display Suite */
.layout__region--first-above,
.layout__region--second-above {
	padding: 0px 5px;
}

/* Body */
body {
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

a {
	color: #B31D0F;
	text-decoration: none;
}

a:hover {
	color: #F88826;
	text-decoration: none;
}

.label-upper {
	text-transform: uppercase;
	color: #566174;
	font-weight: bold;
	font-size: 17px;
}

.border {
	border-bottom: 2px solid #ebebeb !important;
	margin-bottom: 20px;
}

/* Content type */

/* People */
.people-name {
	font-weight: 700px;
	font-size: 22px;
	color: #B31D0F;
	font-family: "Cormorant",serif;
}

.people-area-research {
	padding-top: 10px;
}

/* Footer */
footer {
	background-color: #232323;
	padding: 2rem 0 0 0;
}

.region-footer {
	border-top: solid 1px #BDBDBD;
}

.footer-bottom {
	color: #BDBDBD;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	padding-top: 10px;
}


